/* reset default styles  */
* {
  margin: 0;
  padding: 0;
}

/* ============================shared styles===============================  */
body {
  font-family: "Work Sans", sans-serif;
}

.left-right-equal-space {
  margin: 0 100px;
}

/* ================================header styles===============================  */

/* ===========header's nav styles============ */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
  padding: 20px 100px;
}

.nav-logo-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-logo-image {
}

.nav-logo-title {
  text-align: center;
  font-size: 45px;
  font-weight: 700;
}

.logo-frist-letter {
  color: #ff42a5;
}

.nav-links-container {
  display: flex;
  align-items: center;
}

.nav-links-container li {
  list-style-type: none;
  margin-right: 30px;
}

.nav-links-container li a {
  text-decoration: none;
  color: #3c354f;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}

.follow-container {
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  padding: 17px 24px;
  height: auto;
  display: flex;
}

.follow-us-txt {
}

.nav-links-container li i.fa-youtube {
  color: #f61c0d;
  margin: 0 10px;
}

.fa-tiktok {
}

/* =================header's banner styles================  */
.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 70px;
  gap: 200px;
  margin-bottom: 100px;
}

.banner-title {
  color: #0b0223;
  font-size: 48px;
  font-weight: 600;
  text-transform: uppercase;
}
.banner-content {
}
.banner-goat-text {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 95px;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 24px;
}
.banner-content-option-list {
  list-style: none;
  color: #534c64;
  font-size: 20px;
  font-weight: 500;
  text-transform: lowercase;
  margin-bottom: 40px;
}

.banner-content-option-list li {
  margin-bottom: 17px;
}
.banner-content-option-list li i.fa-play {
  color: #ff42a5;
  border: solid 3px #000;
  padding: 8px;
  border-radius: 50%;
  text-align: center;
}
.fa-download {
  color: #ff42a5;
}
.fa-user-group {
}
.sign-in-btn,
.go-rogue-btn {
  border-radius: 48px;
  background: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  border: 0;
  padding: 21px 40px;
}
.go-rogue-btn {
  background: #4ec5f7;
}
.banner-image-container {
}
.banner-image-container img {
  width: 100%;
  height: auto;
}

/* ==================gamer section styles===================  */
.gamer {
  background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 70px;
  margin-bottom: 100px;
  padding:0 100px;
}
.gamer-image-container {
}
.gamer-image-container img {
  width: 100%;
  height: auto;
}
.gamer-content {
  max-width: 550px;
  text-align: right;
}
.gamer-title {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 10px;
}
.gamer-description {
  color: #534c64;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  margin-bottom: 10px;
}
.gamer-button {
  border-radius: 48px;
  background: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  border: 0;
  padding: 21px 40px;
  margin-bottom: 20px;
}
.gamer-footer-txt {
  color: #534c64;
  font-size: 24px;
  font-weight: 500;
  line-height: 45px; /* 187.5% */
}

.unleash {
  color: #534c64;
  font-size: 32px;
  font-weight: 700;
  line-height: 45px;
}

/* =============Online games section styles=============  */
.online-games {
  margin-bottom: 100px;
}

.online-game-title {
  color: #0b0223;
  font-size: 48px;
  font-weight: 700;
  text-align: center;
}

.funny-video {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 48px;
  font-weight: 700;
}
.online-game-description {
  color: #534c64;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  margin-bottom: 48px;
}

.game-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}

.game-item {
  position: relative;
}
.game-item img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}
.game-item figcaption {
  margin-top: 10px;
  color: #534c64;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px; /* 150% */
}

.overlay {
  width: 100%;
  height: 75%;
  border-radius: 15px;
  position: absolute;
  background: #000000d0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s;
}

.overlay-title {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 16px;
}

.overlay svg {
  cursor: pointer;
}

.game-image-container:hover .overlay {
  border: solid #ff42a5 3px;
  opacity: 1;
}

/* ===================instant play section styles======================  */
.instant-play {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 200px;
  margin-bottom: 200px;
}
.instant-play-content {
  max-width: 350px;
  text-align: right;
}
.instant-play-title {
  font-size: 48px;
  font-weight: 700;
  line-height: 60px; /* 125% */
  margin-bottom: 10px;
}
.play-instantly {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.instant-play-description {
  color: #534c64;
  font-family: Work Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}
.instant-play-image-container {
  position: relative;
}
.instant-play-image-container img {
  width: 100%;
  height: auto;
}
.baby-image {
  position: absolute;
  max-width: 40%;
  left: -20%;
  top: 65%;
}

/* ====================play games section styles======================  */
.play-game {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 200px;
  gap: 160px;
}

.play-game-image-container {
  position: relative;
}
.play-game-image-container img {
  width: 100%;
  height: auto;
}

.angry-baby {
  position: absolute;
  max-width: 40%;
  right: -20%;
  top: 65%;
}

.play-game-content {
  max-width: 426px;
}
.play-game-title {
  font-size: 48px;
  font-weight: 700;
  line-height: 60px; /* 125% */
  margin-bottom: 15px;
}

.play-games,
.online {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.play-game-description {
  color: #534c64;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}

/* ===========================carees section styles===========================  */
.carees-section {
  background: #ff42a5;
  padding: 50px 0 50px 100px;
  display: flex;
  align-items: center;
  margin-bottom: 100px;
}
.careers-content {
  max-width: 500px;
  text-align: justify;
}
.carees-title {
  color: #fff;
  font-size: 48px;
  font-weight: 700;
  line-height: 60px; /* 125% */
}
.carees-description {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  margin: 30px 0;
}
table.careers-list {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  line-height: 40px; /* 200% */
  width: 100%;
}

table.careers-list td {
  text-align: right;
}

.careers-image-container img {
  width: 100%;
  height: 100%;
}

.career-button {
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 20px 40px;
  border: none;
  border-radius: 48px;
  background: #fff;
  color: #ff42a5;
  margin: 20px 0;
}

/* ===========================game types section styles==========================  */
.game-types {
  margin-bottom: 100px;
  max-width: 1140px;
  margin:100px auto;
  /* display: grid;
  grid-template-columns: repeat(5, 1fr); */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}


.game-type-item {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 3px;
}

.game-type-item {
  color: #0b0223;
  font-size: 16px;
  font-weight: 600;
  border: transparent 2px solid;
}

.game-type-item img {
  max-width: 90%;
  height: auto;
}

div.game-type-item:hover {
  border-radius: 60px;
  background: #fff;
  border: #f948b2 2px solid;
  color: #ff42a5 !important;
  cursor: pointer;
}

/* =================================footer styles=================================  */
footer {
  background: #0b0223;
}
.footer-logo-info {
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  gap: 20px;
  padding-top: 120px;
  margin-bottom: 66px;
}

.footer-title {
  font-size: 45px;
  font-weight: 700;
  color: #fff;
}
.letter-g {
  color: #ff42a5;
}
.footer-menu-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 60px;
  margin-bottom: 56px;
}
.footer-menu-list li a {
  text-decoration: none;
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}

.footer-social-icon-list {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-bottom: 74px;
}
.footer-social-icon-list li a {
  color: #fff;
}
.footer-terms-list {
  display: flex;
  justify-content: center;
  gap: 60px;
  margin-bottom: 28px;
}
.footer-terms-list li a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 500;
}

.copyright-info {
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  padding-bottom:130px;
}

/* Responsive Styles  */
/* Mobile Devices */
@media screen and (max-width: 576px) {
  .left-right-equal-space {
    margin-left: 0;
    margin-right: 0;
  }
  nav,
  ul,
  .gamer {
    flex-direction: column;
  }

  nav {
    padding: 20px 0;
  }

  .nav-logo-container {
    margin-bottom: 30px;
  }

  .nav-links-container li {
    margin: 0;
  }

  li.follow-container {
    margin-top: 30px;
    max-height: 25px;
  }

  .nav-links-container :nth-child(1) {
    margin-bottom: 36px;
  }

  .banner {
    flex-direction: column-reverse;
    gap: 50px;
  }

  .banner-goat-text {
    font-size: 60px;
  }

  .banner-title {
    font-size: 40px;
  }

  .sign-in-btn,
  .go-rogue-btn {
    padding: 10px 20px;
    font-size: 15px;
  }
  .go-rogue-btn {
    margin-left: 20px;
  }
  .banner-content-option-list {
    font-size: 16px;
  }

  .gamer {
    gap: 10px;
    margin-top: 70px;
    padding:0;
  }
  .gamer-content {
    text-align: center;
  }
  .gamer-button {
    padding: 18px 20px;
    font-size: 15px;
  }

  .game-item figcaption {
    margin-top: 0;
  }
  .game-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
  }
  .instant-play {
    flex-direction: column;
    gap: 50px;
    padding: 0 50px;
  }

  .instant-play-content {
    max-width: 350px;
    text-align: center;
  }

  .play-game {
    flex-direction: column-reverse;
    margin-bottom: 200px;
    gap: 30px;
  }

  .play-game-content {
    text-align: center;
  }

  .angry-baby {
    position: absolute;
    max-width: 40%;
    left: 30%;
    top: 65%;
  }

  .instant-play {
    margin-bottom: 100px;
  }

  .carees-section {
    background: #ff42a5;
    padding-left: 0;
    padding: 50px 20px;
    flex-direction: column;
  }

  table.careers-list td,
  th {
    font-size: 14px;
  }

  .carees-description {
    font-size: 14px;
  }

  .career-button {
    padding: 8px 16px;
    font-size: 12px;
  }

  .game-types {
    flex-direction: column;
  }

  .game-types {
    font-size: 10px;
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 5px;
    row-gap: 20px;
  }
  .game-type-item {
    padding: 0;
    font-size: 10px;
  }
  .game-type-item img {
    width: 30%;
    height: auto;
  }

  .footer-menu-list {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-bottom: 56px;
  }

  .footer-menu-list li a {
    font-size: 14px;
  }

  .footer-social-icon-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-bottom: 74px;
    align-content: center;
    justify-content: center;
    align-items: center;
  }

  .footer-terms-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-bottom: 28px;
  }
  footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 5px;
  }
}

/* Tablet or Medium Devices  */
@media screen and (min-width: 576px) and (max-width: 768px) {
  .left-right-equal-space {
    margin-left: 0;
    margin-right: 0;
  }

  nav {
    padding: 20px 0;
  }

  nav,
  .banner {
    flex-direction: column;
  }
  .nav-links-container {
    margin-top: 30px;
  }
  .banner {
    gap: 80px;
  }
  .gamer {
    flex-direction: column-reverse;
    gap: 20px;
    margin-top: 80px;
  }

  .gamer-content {
    text-align: center;
  }

  .game-item figcaption {
    margin-top: 0;
  }
  .game-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }

  .instant-play {
    flex-direction: column;
    gap: 60px;
    padding: 0 30px;
  }

  .instant-play-content {
    max-width: 350px;
    text-align: center;
  }

  .play-game {
    flex-direction: column-reverse;
    margin-bottom: 200px;
    gap: 30px;
  }

  .angry-baby {
    position: absolute;
    max-width: 40%;
    left: 50%;
    top: 65%;
  }

  .play-game-content {
    text-align: center;
  }

  .instant-play {
    margin-bottom: 150px;
  }

  .carees-section {
    background: #ff42a5;
    padding-left: 0;
    padding: 50px 20px;
    flex-direction: column;
  }

  .game-types {
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 5px;
    row-gap: 20px;
  }

  .game-type-item img {
    width: 50%;
    height: auto;
  }

  .game-type-item {
    font-size: 16px;
  }

  .footer-menu-list {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    margin-bottom: 56px;
  }

  .footer-menu-list li a {
    font-size: 18px;
  }

  footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 5px;
  }
}
